body {
    display: flex;
    margin:0px;
    padding: 0px;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    background-color: #8EB288;
}

#color-settings {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#color-settings * {
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 5px;
    font-size: 15px;
}

input[type=radio] {
    border: 2px;
    height: 2em;
}

#random-color-selection-preview {
    height: 15px;
    width: 15px;
    background-color: #8EB288;
    border: 3px solid lightgray;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
}


#grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 5px solid darkgrey;
    height: 600px;
    width: 600px;
    border-radius: 5px;
}

.squareClass {
    flex: 0,1;
    margin: 0px;
    padding: 0px;
    background-color: lightgray;
    color: green;
}